*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact-us-bg{
    font-family: 'outfit';
    background: linear-gradient(#091c2b, #1d5380);
background-image: url("assets/contact-icon-3.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.contact-container{
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #e7f0ff;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 195px;
    height: 5px;
    background-color: #e7f0ff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-left-subtitle h3{
    font-weight: 600;
    color: #e7f0ff;
    font-size: 20px;
    margin-bottom: 5px;

}
.contact-inputs{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #091c2b;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display:flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(180deg,#cddc0f,#719e0d);
    cursor: pointer;
}